<main>
  <h1>Hello from Angular 2 App with Webpack</h1>
  <img src="../../public/images/angular.png">
  <div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <span class="sr-only">Info:</span>
    Simple Bootstrap test.
  </div>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
    <a routerLink="/no-content" routerLinkActive="active">Doesn't exist</a>
  </nav>
  <router-outlet></router-outlet>
</main>
